@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/

/********************* By - Arpit Parmar ***************************/

html{
    height:100%;
}

body{
    margin:0;
    //background:linear-gradient(rgb(255, 255, 255),rgb(179, 234, 255)) no-repeat;
    background:white;
    //height:100%;  
    text-align:center;
    //padding:10px;
}

#profile{
    background:rgb(196, 199, 255);
    width:100%;
    height:200px;
    font-size:30px;
    border-bottom:1px solid rgb(104, 112, 255);
}

.welcome
{
    display:inline-block;
    padding:10px;
    margin-left:20px;
    //background:white;
    border-radius:20px 20px 0 0;
    
}

#info
{
    display:inline-block;
    margin-top:60px;
    text-shadow: 0 0 1px black;
}

#logout{
    position:fixed;
	top:10px;
	right:10px;
    box-shadow: 0 0 2px black;
    //margin-left:55%;
}

#logout:hover
{
    box-shadow: 0 0 5px black;
}

#button{
    color:blue;
    padding:10px;
    
}

.operations{
    position:relative;
    width:100%;
    margin-top:13%;
}

.operation_container{
    display:inline-block;   
}

.operation_container a{
    background:linear-gradient(rgb(202, 88, 88),rgb(199, 89, 89),rgb(202, 88, 88));
    padding: 15px 40px 15px 40px;
    border-radius:20px;
	margin-left:5px;
    margin-right:5px;
    font-size:30px;
    color:white;
    text-decoration:none;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.operation_container a:hover
{
    background:linear-gradient(rgb(232, 96, 96),rgb(199, 89, 89),rgb(232, 96, 96));
}


table
{
    page-break-inside:auto;
}

thead
{
    //display:table-header-group;
}

tr td, tr th
{
    page-break-inside:avoid;
    page-break-after:auto;
    //page-break-before:auto; 
}

/*****************By Arpit Parmar END*******************/
/*#main {
width:960px;
margin:50px auto;
font-family:raleway
}
span {
color:red
}
h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#login {
width:300px;
float:left;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px
}
input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
input[type=submit] {
width:100%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}*/